@font-face {
    font-family: KotaKali;
    src: url("KotaKali-WppVY.otf");
}

@font-face {
    font-family: MCR;
    src: url("GaruteMedium-z8D8a.otf");
}

@font-face {
    font-family: Rony;
    src: url("RonysiswadiArchitect4-qZmp2.ttf");
}

body{
    margin: 0px;
    padding: 0px;
    background-color: skyblue;
    width: 100vw;
    height: fit-content;
}

#main_head{
    
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
}

#main_body{
    margin: 4%;
    height:fit-content;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
}

#top_form{
    display: flex;
    flex-direction: column;
    font-family: Rony;
    font-size: x-large;
    margin-bottom: 0px ;
}

#top_form input{
    padding: 10px;
    margin-left: 20px;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    font-family: Rony;
    font-size: inherit;
}

#top_form button{
    margin-top: 40px; 
    width: 180px; 
    padding: 5px; 
    align-self: center;
    font-size: large;

    background-color: black;
    color: white;
    appearance: none;
    border-radius: 10px;
    
}

#top_form button:hover{
    background-color: white;
    color: black;
    border-radius: 10px ;

}